<html>
<body>
<h1>Symulator meczu siatkówki</h1>

<div class="playerInfo">
<div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Rozwiń wszystko</button>
  <button mat-button (click)="accordion.closeAll()">Zwiń wszystko</button>
</div>
  <div class="players">
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dane pierwszego zawodnika
      </mat-panel-title>
      <mat-panel-description>

        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div  class="player">
      <app-host-first-player (newPlayer)="onNewPlayer($event)"></app-host-first-player>
    </div>

  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dane drugiego zawodnika
      </mat-panel-title>
      <mat-panel-description>

        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div  class="player">
      <app-host-first-player (newPlayer)="onNewPlayer($event)"></app-host-first-player>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dane trzeciego zawodnika
      </mat-panel-title>
      <mat-panel-description>

        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div  class="player">
      <app-host-first-player (newPlayer)="onNewPlayer($event)"></app-host-first-player>
    </div>

  </mat-expansion-panel>



    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dane czwartego zawodnika
        </mat-panel-title>
        <mat-panel-description>

          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div  class="player">
        <app-host-first-player (newPlayer)="onNewPlayer($event)"></app-host-first-player>
      </div>

    </mat-expansion-panel>

</mat-accordion>

    <form [formGroup]="testForm">
<div *ngIf="display === 4">
<p>  Symulacja Testowa:</p>
Wybierz liczbę symulowanych meczów
  <mat-slider
    formControlName="numberControl"
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="1000"
    min="1"
    max="100000"></mat-slider>

  <button type="button" class="btn btn-dark" (click)="simulation(playerArray)" >Przeprowadź symulację</button>
</div>
    </form>

  </div>
</div>
<button *ngIf="display >= 3"type="button" class="btn btn-warning" (click)="simulationService.teamOverall(playerArray)"  (click)="display=display+1" >Rozpocznij symulację!</button>
<div  class="pitch">

  <img class="pitchIcon" src="../assets/beachVPitch.jpg" alt="volleyBallPeach">
</div>

<div *ngIf="playerArray !== undefined">
  <img class="playerIconOne" src="../assets/player.png" alt="volleyballPlayer">

</div>
<div *ngIf="display >= 1">
  <img class="playerIconTwo" src="../assets/player.png" alt="volleyballPlayer">
</div>

<div *ngIf="display >= 2">
  <img class="playerIconThree" src="../assets/player.png" alt="volleyballPlayer">
</div>

<div *ngIf="display >= 3">
  <img class="playerIconFour" src="../assets/player.png" alt="volleyballPlayer">
</div>

<!--*ngIf="display === 4" -->
<div *ngIf="display >= 4" >
<div  class="result">
  Wynik: {{simulationService.firstTeamSet}} : {{simulationService.secondTeamSet}}



</div>

<div class="moreInformation">
<mat-accordion class="example-headers-align" multi>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Więcej infromacji
      </mat-panel-title>
      <mat-panel-description>


      </mat-panel-description>
    </mat-expansion-panel-header>


  <div >
<p>Pierwszy set: {{simulationService.firstTeamSetPoints[0]}} : {{simulationService.secondTeamSetPoints[0]}}</p>
    <p>Drugi set: {{simulationService.firstTeamSetPoints[1]}} : {{simulationService.secondTeamSetPoints[1]}}</p>
    <p *ngIf="simulationService.firstTeamSetPoints.length === 3">Trzeci set: {{simulationService.firstTeamSetPoints[2]}} : {{simulationService.secondTeamSetPoints[2]}}</p>
  </div>
  </mat-expansion-panel>
</mat-accordion>
</div>
</div>
</body>
</html>
